<div id="pag-squadra " class="text-center">
  <h1 class="textdark mt-5">{{squadra|uppercase}}</h1>
  <img src="{{squadraOggetto.logo}}" alt="logo-squadra">

  <div class="mt-5" id="sezione-maglie">
    <div class=" container d-flex justify-content-center container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="card card-maglia my-2 mx-3 mb-3" *ngFor="let m of maglie" style="width: 15rem;" routerLink="maglia/{{m.id_maglia}}">
            <div class="img-maglia mt-1 mb-1">
              <img src="{{m.immagine}}" class="card-img-top img-fluid" alt="">
            </div>

            <div class="scritte-card card-body mt-2">
              <p class="nome card-text fs-5 fw-bold">{{m.nome}}</p>
              <p class=" prezzo card-text "> € {{m.prezzo}}0</p>
            </div>

        </div>
      </div>
    </div>

  </div>

  </div>
