<div id="sidenav">

  <div id="barra_ricerca_sidebar" class="ms-2">
    <input type="text" placeholder="Cerca squadra..." class="barra_ricerca mt-3 rounded"/>
  </div>

  <div id="nav">
    <div id="navinner">

      <div class="navsection mt-3 d-flex flex-column ms-2">
        <h5 class="fw-bold">CAMPIONATO</h5>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Serie A.png" />
          <span class="ms-2">Serie A</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Premier League.png" />
          <span class="ms-2">Premier League</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/La Liga.png" />
          <span class="ms-2">La Liga</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Bundesliga.png" />
          <span class="ms-2">Bundesliga</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Ligue 1.png" />
          <span class="ms-2">Ligue 1</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/World Cup.png" />
          <span class="ms-2">Nazionali</span>
        </a>
      </div>

      <div class="nav-section mt-3 d-flex flex-column ms-2">
        <h5 class="fw-bold">SQUADRE</h5>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Barcelona.png" />
          <span class="ms-2">FC Barcelona</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Real Madrid.png" />
          <span class="ms-2">Real Madrid</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Manchester city.png" />
          <span class="ms-2">Manchester City</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Manchester utd.png" />
          <span class="ms-2">Manchester United</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Liverpool.png" />
          <span class="ms-2">Liverpool FC</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/PSG.png" />
          <span class="ms-2">Paris Saint-Germain</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Arsenal.png" />
          <span class="ms-2">Arsenal FC</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Milan.png" />
          <span class="ms-2">FC Milan</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Marsiglia.png" />
          <span class="ms-2">Olympique Marseille</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Lione.png" />
          <span class="ms-2">Olympique Lyonnais</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Tottenham.png" />
          <span class="ms-2">Tottenham Hotspur</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Napoli.png" />
          <span class="ms-2">Napoli</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Atletico Madrid.png" />
          <span class="ms-2">Atlético Madrid</span>
        </a>

        <a class="menu_sidebar mb-2 text-decoration-none text-dark" href="#">
          <img src="../../../assets/img/Chelsea.png" />
          <span class="ms-2">Chelsea FC</span>
        </a>
      </div>
    </div>
    </div>


    <div class="user-section p-3 ms-0 sticky-bottom">
      <img src="../../../assets/img/profile-icon-png-910.png" />
      <span class="ms-2">Nome Utente<!--fare chiamata per rendere nome utente--></span>
    </div>
  </div>
