<div id="sezione-premier">
  <h1 class="text-dark mt-5">PREMIER LEAGUE</h1>
  <img src="../../../assets/img/common-assets/Premier League.png" alt="" />

  <div class="mt-5" id="sezione-squadre">

    <div class="righe_squadre d-flex justify-content-center">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Arsenal.png" alt="Arsenal"/>
          <p class="nome">Arsenal FC</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Aston Villa.png" alt="Aston Villa"/>
          <p class="nome">Aston Villa</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Bournemouth.png" alt="Bournemouth"/>
          <p class="nome">Bournemouth</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Brentford.png" alt="Brentford"/>
          <p class="nome">Brentford</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Brighton.png" alt="Brighton"/>
          <p class="nome">Brighton</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Chelsea.png" alt="Chelsea"/>
          <p class="nome">Chelsea FC</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Crystal Palace.png" alt="Crystal Palace"/>
          <p class="nome">Crystal Palace</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Everton.png" alt="Everton"/>
          <p class="nome">Everton</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Fulham.png" alt="Fulham"/>
          <p class="nome">Fulham</p>
        </a>
      </div>


    </div>

    <div class="righe_squadre d-flex justify-content-center mt-3">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Leeds.png" alt="Leeds"/>
          <p class="nome">Leeds United</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Leicester.png" alt="Leicester"/>
          <p class="nome">Leicester City</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Liverpool.png" alt="Liverpool"/>
          <p class="nome">Liverpool FC</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Manchester City.png" alt="Manchester City"/>
          <p class="nome">Manchester City</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Manchester United.png" alt="Manchester United"/>
          <p class="nome">Manchester United</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Newcastle.png" alt="Newcastle United"/>
          <p class="nome">Newcastle United</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Nottingham.png" alt="Nottingham Forest"/>
          <p class="nome">Nottingham Forest</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Southampton.png" alt="Southampton"/>
          <p class="nome">Southampton</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-premier/Tottenham.png" alt="Tottenham"/>
          <p class="nome">Tottenham Hotspur</p>
        </a>
      </div>

    </div>

    <div class="d-flex justify-content-center mt-3 ms-4">

        <div class="squadre me-4">
          <a class="text-dark text-decoration-none" href="">
            <img src="../../../assets/img/loghi-premier/West Ham.png" alt="West Ham"/>
            <p class="nome">West Ham</p>
          </a>
        </div>

        <div class="squadre me-4">
          <a class="text-dark text-decoration-none" href="">
            <img src="../../../assets/img/loghi-premier/Wolverhampton.png" alt="Wolverhampton"/>
            <p class="nome">Wolverhampton</p>
          </a>

      </div>
  </div>

  </div>
</div>
