
<div class="container">
  <div class="row">
    <div class="col-md-5 immagine">
      <img src="../../../assets/img/maglie/Serie A/Lazio/casa front.jpg" alt="">
    </div>

    <div class="col-md-7 caratteristiche">
      <h2> *NOME PRODOTTO* *NOME SQUADRA*</h2>
      <p class="prezzo fw-bold"> € *PREZZ0*</p>
      <p class="dati"><b>Disponibilità:</b> in Magazzino</p>
      <p class="dati"><b>Condizioni:</b> Nuovo</p>
      <p class="dati"><b>Colore:</b> *COLORE*</p>
      <button type="button" (click)="controlloFunzione()" class="btn custom">PERSONALIZZA</button>
      <div *ngIf="controllo==true" class="mt-3" id="sezione-custom">
        <div class="selezione">
          <input class="checkbox-custom" type="checkbox" id="custom-nome">
          <label class="label-custom" for="custom-nome">Nome (+5€)</label>
          <input class="ms-2" type="text" placeholder="Inserisci nome">
        </div>
        <div class="selezione">
          <input class="checkbox-custom" type="checkbox" id="custom-numero">
          <label class="label-custom" for="custom-numero">Numero (+10€)</label>
          <input class="input-numero ms-2" type="text" placeholder="Inserisci numero">
        </div>
      </div>
      <div class="mt-5">
        <label>Quantità: </label>
        <input id="input-quantita" type="text" value="1">
        <button type="button" class="btn btn-default cart">AGGIUNGI AL CARRELLO</button>
      </div>
    </div>
  </div>
</div>
