.container {
  margin-top: 100px;
}

img {
  width: 400px;
}

h2 {
  color: #555;
}

.prezzo {
  color: #46db6f;
  font-size: 26px;
  padding-top: 20px;
}

.dati {
  font-size: 20px;
}

#input-quantita {
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
  margin-left: 6px;
}

.cart {
  background-color: #46db6f;
  color: #ffffff;
  font-size: 15px;
  margin-left: 20px;
}

.custom {
  background-color: #020b4a;
  color: #ffffff;
  font-size: 15px;
  margin-left: 20px;
  margin-left: -2px;
}

.label-custom {
  font-size: 20px;
  margin-left: 5px;;
}

.selezione {
  margin-bottom: 8px;
}

.input-numero {
width: 140px;
}
