<div id="sezione-liga">
  <h1 class="text-dark mt-5">LIGUE 1</h1>
  <img src="../../../assets/img/common-assets/Ligue 1.png" alt="" />

  <div class="mt-5" id="sezione-squadre">

    <div class="righe_squadre d-flex justify-content-center">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/AC Ajaccio.png" alt="AC Ajaccio"/>
          <p class="nome">AC Ajaccio</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/AJ Auxerre.png" alt="AJ Auxerre"/>
          <p class="nome">AJ Auxerre</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Angers.png" alt="Angers"/>
          <p class="nome">Angers</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/AS Monaco.png" alt="AS Monaco"/>
          <p class="nome">AS Monaco</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Clermont.png" alt="Clermont"/>
          <p class="nome">Clermont</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/ESTAC Troyes.png" alt="ESTAC Troyes"/>
          <p class="nome">ESTAC Troyes</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Lille LOSC.png" alt="Lille LOSC"/>
          <p class="nome">Lille LOSC</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Lorient.png" alt="Lorient"/>
          <p class="nome">Lorient</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Montpellier.png" alt="Montpellier"/>
          <p class="nome">Montpellier</p>
        </a>
      </div>


    </div>

    <div class="righe_squadre d-flex justify-content-center mt-3">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Nantes.png" alt="Nantes"/>
          <p class="nome">Nantes</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Nice.png" alt="Nice"/>
          <p class="nome">Nice</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Olympique Lyonnais.png" alt="Olympique Lyonnais"/>
          <p class="nome">Olympique Lyonnais</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Olympique Marseille.png" alt="Olympique Marseille"/>
          <p class="nome">Olympique Marseille</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Paris-Saint Germain.png" alt="Paris-Saint Germain"/>
          <p class="nome">Paris-Saint Germain</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/RC Lens.png" alt="RC Lens"/>
          <p class="nome">RC Lens</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Stade Brestois.png" alt="Stade Brestois"/>
          <p class="nome">Stade Brestois</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Stade Reims.png" alt="Stade Reims"/>
          <p class="nome">Stade Reims</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Stade Rennais.png" alt="Stade Rennais"/>
          <p class="nome">Stade Rennais</p>
        </a>
      </div>


    </div>

    <div class="d-flex justify-content-center mt-3 ms-4">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Strasbourg.png" alt="Strasbourg"/>
          <p class="nome">Strasbourg</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-ligue1/Toulouse.png" alt="Toulouse"/>
          <p class="nome">Toulouse</p>
        </a>
      </div>

  </div>

  </div>
</div>
