<div id="sezione-bundes">
  <h1 class="text-dark mt-5">BUNDESLIGA</h1>
  <img src="../../../assets/img/common-assets/Bundesliga.png" alt="" />

  <div class="mt-5" id="sezione-squadre">

    <div class="righe_squadre d-flex justify-content-center">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/1.Kohl.png" alt="1. Koln"/>
          <p class="nome">1. FC Köln</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Bayer Leverkusen.png" alt="Bayer Leverkusen"/>
          <p class="nome"> Bayer 04 Leverkusen</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Bayern monaco.png" alt="Bayern München"/>
          <p class="nome">Bayern München</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Borussia Dortmund.png" alt="Borussia Dortmund"/>
          <p class="nome">Borussia Dortmund</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Borussia Moenchengladbach.png" alt="Borussia Mönchengladbach II"/>
          <p class="nome">Borussia Mönchengladbach II</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Eintracht Francoforte.png" alt="Eintracht Frankfurt"/>
          <p class="nome">Eintracht Frankfurt</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Fc Augsburg.png" alt="FC Augsburg"/>
          <p class="nome">FC Augsburg</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Herta BSC.png" alt="Herta BSC"/>
          <p class="nome">Herta BSC</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Mainz.png" alt="Mainz"/>
          <p class="nome">Mainz</p>
        </a>
      </div>


    </div>

    <div class="righe_squadre d-flex justify-content-center mt-3">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/RB Leipzig.png" alt="RB Leipzig"/>
          <p class="nome">RB Leipzig</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/SC Freiburg.png" alt="SC Freiburg"/>
          <p class="nome">SC Freiburg</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Schalke 04.png" alt="Schalke 04"/>
          <p class="nome">Schalke 04</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/TSG Hoffeneim.png" alt="TSG Hoffeneim"/>
          <p class="nome">TSG 1899 Hoffeneim</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Union Berlino.png" alt="Union Berlin"/>
          <p class="nome">Union Berlin</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/VfB Stuttgart.png" alt="VfB Stuttgart"/>
          <p class="nome">VfB Stuttgart</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/VfL Bochum.png" alt="VfL Bochum"/>
          <p class="nome">VfL Bochum</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/VfL Wolfsburg.png" alt="VfL Wolfsburg"/>
          <p class="nome">VfL Wolfsburg</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-bundes/Werder Brema.png" alt="Werder Bremen"/>
          <p class="nome">Werder Bremen</p>
        </a>
      </div>


    </div>

    </div>

  </div>



