<div  id="banner_sconto" >
  <img src="../../../assets/img/common-assets/banner sconto.jpg" alt="banner sconto 20%">
</div>

<div id="sezione_campionati" class="mt-5 container-fluid">
  <h2 class="text-center fw-bold mb-4">CAMPIONATI</h2>

  <div id="campionati" class="d-flex justify-content-center gap-5 ms-5 row">

    <div class=" col-sm-4 text-center">
      <div routerLink="campionato/Serie A">
        <img src="../../../assets/img/common-assets/Serie A.png" alt="Serie A">
        <span class="d-flex flex-column fs-3">Serie A</span>
      </div>
    </div>

    <div class=" col-sm-3 text-center">
      <div routerLink="campionato/Premier League">
        <img src="../../../assets/img/common-assets/Premier League.png" alt="Premier League">
        <span class="d-flex flex-column fs-3">Premier League</span>
      </div>
    </div>

    <div class=" col-sm-3 text-center">
      <div routerLink="campionato/Liga Santander">
        <img src="../../../assets/img/common-assets/La Liga.png" alt="La Liga">
        <span class="d-flex flex-column fs-3">Liga Santander</span>
      </div>
    </div>

    <div class=" col-md-3 text-center">
      <div routerLink="campionato/Bundesliga">
        <img src="../../../assets/img/common-assets/Bundesliga.png" alt="Bundesliga">
        <span class="d-flex flex-column fs-3">Bundesliga</span>
      </div>
    </div>

    <div class=" col-md-3 text-center">
      <div routerLink="campionato/Ligue 1">
        <img src="../../../assets/img/common-assets/Ligue 1.png" alt="Ligue 1">
        <span class="d-flex flex-column fs-3">Ligue 1</span>
      </div>
    </div>

  </div>
</div>




