<div  id="banner_sconto" >
  <img src="../../../assets/img/banner sconto.jpg" alt="banner sconto 20%">
</div>

<div id="sezione_campionati" class="mt-5">
  <h2 class="text-center fw-bold mb-4">CAMPIONATI</h2>

  <div id="campionati" class="d-flex justify-content-center gap-5 ms-5 ">

    <div class="text-center">
      <a class="text-decoration-none text-dark" href="">
        <img src="../../../assets/img/Serie A.png" alt="Serie A">
        <span class="d-flex flex-column fs-3">Serie A</span>
      </a>
    </div>

    <div class="text-center">
      <a class="text-decoration-none text-dark" href="">
        <img src="../../../assets/img/Premier League.png" alt="Premier League">
        <span class="d-flex flex-column fs-3">Premier League</span>
      </a>
    </div>

    <div class="text-center">
      <a class="text-decoration-none text-dark" href="">
        <img src="../../../assets/img/La Liga.png" alt="La Liga">
        <span class="d-flex flex-column fs-3">Liga Santander</span>
      </a>
    </div>

    <div class="text-center">
      <a class="text-decoration-none text-dark" href="">
        <img src="../../../assets/img/Bundesliga.png" alt="Bundesliga">
        <span class="d-flex flex-column fs-3">Bundesliga</span>
      </a>
    </div>

    <div class="text-center">
      <a class="text-decoration-none text-dark" href="">
        <img src="../../../assets/img/Ligue 1.png" alt="Ligue 1">
        <span class="d-flex flex-column fs-3">Ligue 1</span>
      </a>
    </div>

    <div class="text-center">
      <a class="text-decoration-none text-dark" href="">
        <img src="../../../assets/img/World Cup.png" alt="Nazionali">
        <span class="d-flex flex-column fs-3">Nazionali</span>
      </a>
    </div>
  </div>
</div>

<div id="sezione_maglie_random" class="mt-5">

  <h2 class="text-center fw-bold mb-4">MAGLIE</h2>

  <div id="card_maglie_random">


  </div>

</div>



