form {
  max-width: 480px;

}

button {
  background-color: #46db6f;
}


body {
  background: url(../../../assets/img/common-assets/michael-lee-6J7eIvNwttQ-unsplash.jpg) no-repeat center center;
  background-size:cover;
  height: 100vh;
}

label {
  color: white;
}

.wrapper {
  margin: auto;
  position: relative;
  width: 600px;
  height: 650px;
  background: transparent;
  border: 2px solid #46db707a;
  border-radius: 20px;
  backdrop-filter: blur( 20px);
}

a {
  color:#46db6f;
  text-decoration: none;
}

span{
  color: #717171;
}

.credit {
  color: #717171;
}

