<div id="sezione-liga">
  <h1 class="text-dark mt-5">LIGA SANTANDER</h1>
  <img src="../../../assets/img/common-assets/La Liga.png" alt="" />

  <div class="mt-5" id="sezione-squadre">

    <div class="righe_squadre d-flex justify-content-center">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Athletic.png" alt="Athletic"/>
          <p class="nome">Athletic Club</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Atletico Madrid.png" alt="Atletico Madrid"/>
          <p class="nome">Atlètico Madrid</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Cadice.png" alt="Cadiz"/>
          <p class="nome">Cádiz</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Celta Vigo.png" alt="Celta Vigo"/>
          <p class="nome">Celta Vigo</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Elche.png" alt="Elche"/>
          <p class="nome">Elche</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Espanyol.png" alt="Espanyol"/>
          <p class="nome">Espanyol</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/FC Barcelona.png" alt="FC Barcelona"/>
          <p class="nome">FC Barcelona</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Getafe.png" alt="Getafe"/>
          <p class="nome">Getafe</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Girona.png" alt="Girona"/>
          <p class="nome">Girona</p>
        </a>
      </div>


    </div>

    <div class="righe_squadre d-flex justify-content-center mt-3">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Osasuna.png" alt="Osasuna"/>
          <p class="nome">Osasuna</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Rayo Vallejano.png" alt="Rayo Vallejano"/>
          <p class="nome">Rayo Vallejano</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/RCD Mallorca.png" alt="RCD Mallorca"/>
          <p class="nome">RCD Mallorca</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Real Betis.png" alt="Real Betis"/>
          <p class="nome">Real Betis</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Real Madrid.png" alt="Real Madrid"/>
          <p class="nome">Real Madrid</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Real Sociedad.png" alt="Real Sociedad"/>
          <p class="nome">Real Sociedad</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Sevilla.png" alt="Sevilla"/>
          <p class="nome">Sevilla</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/U.D Almeria.png" alt="U.D Almeria"/>
          <p class="nome">U.D Almeria</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Valencia.png" alt="Valencia"/>
          <p class="nome">Valencia</p>
        </a>
      </div>


    </div>

    <div class="d-flex justify-content-center mt-3 ms-4">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Valladolid.png" alt="Valladolid"/>
          <p class="nome">Valladolid</p>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-liga/Villareal.png" alt="Villareal"/>
          <p class="nome">Villareal</p>
        </a>
      </div>

  </div>

  </div>
</div>
