<div id="sezione-seriea">

  <h1 class="text-dark mt-5">SERIE A</h1>
  <img class="" src="../../../assets/img/common-assets/Serie A.png" alt="" />

  <div class="mt-5" id="sezione-squadre">
    <div class="righe_squadre d-flex justify-content-center">
      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Atalanta.png" alt="Atalanta"/>
          <span class="d-flex flex-column">Atalanta</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Bologna.png" alt="Bologna"/>
          <span class="d-flex flex-column">Bologna</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Cremonese.png" alt="Cremonese"/>
          <span class="d-flex flex-column">Cremonese</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Empoli.png" alt="Empoli"/>
          <span class="d-flex flex-column">Empoli</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Fiorentina.png" alt="Fiorentina"/>
          <span class="d-flex flex-column">Fiorentina</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Hellas Verona.png" alt="Hellas Verona"/>
          <span class="d-flex flex-column">Hellas Verona</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Inter.png" alt="Inter" />
          <span class="d-flex flex-column">Inter</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Juventus.png" alt="Juventus"/>
          <span class="d-flex flex-column">Juventus</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Lazio.png" alt="Lazio"/>
          <span class="d-flex flex-column">Lazio</span>
        </a>
      </div>


    </div>

    <div class="righe_squadre d-flex justify-content-center mt-3">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Lecce.png" alt="Lecce">
          <span class="d-flex flex-column">Lecce</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Milan.png" alt="Milan">
          <span class="d-flex flex-column">Milan</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Monza.png" alt="Monza">
          <span class="d-flex flex-column">Monza</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Napoli.png" alt="Napoli">
          <span class="d-flex flex-column">Napoli</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Roma.png" alt="Roma">
          <span class="d-flex flex-column">Roma</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Salernitana.png" alt="Salernitana">
          <span class="d-flex flex-column">Salernitana</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Sampdoria.png" alt="Sampdoria">
          <span class="d-flex flex-column">Sampdoria</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Sassuolo.png" alt="Sassuolo">
          <span class="d-flex flex-column">Sassuolo</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Spezia.png" alt="Spezia">
          <span class="d-flex flex-column">Spezia</span>
        </a>
      </div>


    </div>

    <div class="d-flex justify-content-center mt-3 ms-4">

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Torino.png" alt="Torino">
          <span class="d-flex flex-column">Torino</span>
        </a>
      </div>

      <div class="squadre me-4">
        <a class="text-dark text-decoration-none" href="">
          <img src="../../../assets/img/loghi-serie-a/Udinese.png" alt="Udinese">
          <span class="d-flex flex-column">Udinese</span>
        </a>
      </div>

    </div>
  </div>
</div>
